// == Colors
// ============================================================================

$bg-soft-primary: #ecf4f1 !default;
$bg-soft-secondary: #f6f9fc !default;
$bg-soft-success: #ecfaf4 !default;
$bg-soft-info: #ecf2fa !default;
$bg-soft-warning: #fdfaee !default;
$bg-soft-danger: #fdeeee !default;
$bg-soft-light: #fff !default;
$bg-soft-dark: #ececed !default;

// == List
// ============================================================================

$o-list-head-title-weight: 600 !default;
$o-list-head-title-color: #009BC0 !default;